---
layout: default
title: Andrei Micuda - Portfolio
path: home
---

<div
  class="container mx-auto h-screen flex flex-col justify-center items-center dark:text-gray-100 snap-start"
>
  <h1>
    Hi, my name is
    <strong class="bg-clip-text text-transparent bg-my-gradient">Micu</strong>
  </h1>
  <h2 x-data="position">
    I am a
    <strong
      x-text="value"
      @switch-position.window="next()"
      class="inline-block w-40 text-center relative animated-word bg-clip-text text-transparent bg-my-gradient"
    ></strong>
  </h2>

  <button
    class="absolute bottom-20 flex flex-col items-center"
    @click="document.getElementById('AboutMe').scrollIntoView({behavior: 'smooth'})"
  >
    <span
      class="iconify"
      data-icon="akar-icons:chevron-down"
      data-width="32"
    ></span>
    <span class="lg:hidden">Swipe</span>
    <span class="hidden lg:show">Scroll</span>
  </button>

  <!-- {% include "./_includes/partials/content.html" %} -->
</div>

{% include "./_includes/partials/about.html" %}